
<mat-toolbar color="primary">
  <span class="title-center">Sudovi</span>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort class="mat-table">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>

    <!-- Naziv Column -->
    <ng-container matColumnDef="naziv">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.naziv }}</mat-cell>
    </ng-container>

    <!-- Adresa Column -->
    <ng-container matColumnDef="adresa">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Adresa</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.adresa }}</mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Akcije</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" 
                (click)="openDialog(2, row.id, row.naziv, row.adresa)"
                matTooltip="Izmeni">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" 
                (click)="openDialog(3, row.id, row.naziv, row.adresa)"
                matTooltip="Obriši">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- Add Button -->
<!-- Ostatak koda ostaje isti... -->

<!-- Add Button - ISPRAVLJENO -->
<button mat-fab color="primary" class="add-button" 
        (click)="openDialog(1)"
        matTooltip="Dodaj novi sud">
  <mat-icon>add</mat-icon>
</button>
