<div class="author-container">
  <mat-card class="author-card">
    <!-- Header -->
    <div class="author-header">
      <mat-icon class="author-icon">person</mat-icon>
      <h1>Autor aplikacije</h1>
    </div>

    <!-- Content -->
    <div class="author-content">
      <p>
       
        Moje ime je Sara Jović, studentkinja 4. godine Inženjerstva informacionih sistema na Fakultetu tehničkih nauka. Ovu aplikaciju
        sam razvila u okviru predmeta Razvoj višeslojnih aplikacija. Projekat predstavlja implementaciju 
  višeslojne arhitekture korišćenjem savremenih tehnologija za razvoj web aplikacija.
      </p>

      <p>
       Sistem je realizovan kao studentski projekat sa ciljem primene stečenih znanja 
  iz oblasti razvoja backend servisa pomoću Spring Boot framework-a i izrade 
  korisničkog interfejsa korišćenjem Angular framework-a.
      </p>
    </div>
  </mat-card>
</div>
