.container {
  margin: 20px;
  padding: 20px;
}

.mat-table {
  width: 100%;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

mat-header-cell {
  font-weight: bold;
}